# Dependencies
node_modules/
package-lock.json

# Cache
.cache/
.npm
.eslintcache

# Output
docs/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Nix
.direnv/

# Project specific
docs/
LAST_UPDATED
